body{
    font-size: 12px;
    color: #333;
}
footer{
    text-align: center;
    color: #ccc;
}
.panel-body p{
    margin: 1px 0;
}
.panel-body p .input-title{
    font-weight: bold;
}
.panel-footer{
    padding: 5px 10px;
    overflow: hidden;
}
.panel-footer .footer-date-info{
    float: right;
    display: block;
}
.panel-footer small{
    color: #bbb;
}
.page-header{
    margin-top: 0;
}
.page-header h1{
    margin: 0;
}
.menu ul{
    list-style: none;
}
.menu ul li{
    text-align: center;
}
.menu ul li a{
    display: block;
}
#main{
    padding-top: 70px;    
    min-height: 500px;
}
#side-main{
    padding-top: 70px;
}
#side-main .tab-content{
    border-bottom: 1px solid #ddd; 
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    
    min-height: 300px;
}
