html{
    overflow-y: scroll;
}
body{
    font-size: 12px;
    color: #4d4d4d;
}
footer{
    text-align: center;
    color: #ccc;
}
.datepicker{
	text-transform: uppercase;
	padding: none;
}
.lowertext{
    text-transform: lowercase;
}
.panel-body p{
    margin: 1px 0;
}
.panel-body p .input-title{
     color: #cdcdcd;
}
.panel-footer{
    padding: 5px 10px;
    overflow: hidden;
}
.panel-footer .footer-date-info{
    float: right;
    display: block;
}
.panel-footer small{
    color: #bbb;
}
.footer-curso-info small{
	float: left;
	font-size: 0.9em;
}
.footer-curso-info i{	
    opacity: 0.3;
   	margin: 0 2px;
	margin-left: 4px;
}
.page-header{
    margin-top: 0;
}
.page-header i{
    float: right;
    opacity: 0.3;
}
.page-header h1{
    margin: 0;
}
.page-header h1 a{
    text-decoration: none;
    color: inherit;
}
.page-header h1 a:hover{
    /*color: #D47004;*/
    color: #0492d4;
}
.menu ul{
    list-style: none;
}
.menu ul li{
    text-align: center;
}
.menu ul li a{
    display: block;
}
#main{
    padding-top: 70px;    
    min-height: 500px;
}
#side-main{
    padding-top: 70px;
}
#side-main .tab-content{
    background-color: #ffffff;
    
    border-bottom: 1px solid #ddd; 
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px 0px;
    min-height: 300px;
}
#side-main .tab-content .tab-pane{
    padding: 5px;
}
#panel-user h5 i{
    opacity: 0.3;
    margin-right: 5px;
}
