html{
    overflow-y: scroll;
}
body{
    font-size: 12px;
    color: #4d4d4d;
}
footer{
    text-align: center;
    color: #ccc;
}
.navbar-default {
	/*background-color: #9663AA;
	border-color: #A388BB;*/
	text-shadow: 0 -1px 0 rgba(0,0,0,.15);
	background-color: #563d7c;
	border-color: #463265;
	/*box-shadow: 0 1px 0 rgba(255,255,255,.1);*/
	-webkit-box-shadow: 0px 10px 30px rgba(50, 50, 50, 0.2);
	-moz-box-shadow:    0px 10px 30px rgba(50, 50, 50, 0.2);
	box-shadow:         0px 10px 30px rgba(50, 50, 50, 0.2);
}
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color: #ffffff;
	background-color: transparent;
}
.navbar-default .navbar-nav>li>a:hover {
	color: #ffffff;
}
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:focus {
	color: #cdbfe3;
	background-color: transparent;
}
.nav-tabs>li>a {
	color: #cdcdcd;
}
.nav-tabs>.active>a {
	color: #4d4d4d;
}
.datepicker{
	text-transform: uppercase;
	padding: none;
}
.lowertext{
    text-transform: lowercase;
}
.panel-body p{
    margin: 1px 0;
}
.panel-body p .input-title{
     color: #cdcdcd;
}
.panel-footer{
    padding: 5px 10px;
    overflow: hidden;
}
.panel-footer .footer-date-info{
    float: right;
    display: block;
}
.panel-footer small{
    color: #bbb;
}
.footer-curso-info small{
	float: left;
	font-size: 0.9em;
}
.footer-curso-info i{	
    opacity: 0.3;
   	margin: 0 2px;
	margin-left: 4px;
}
.page-header{
    margin-top: 0;
}
.page-header:hover{
    /*border-bottom-color:#0492d4;*/
}
.page-header i{
    float: right;
    opacity: 0.3;
}
.page-header h1{
    margin: 0;
}
.page-header h1 a{
    text-decoration: none;
    color: inherit;
}
.page-header h1 a:hover{
    /*color: #D47004;*/
    color: #0492d4;
    /*color: #cdbfe3;*/
}
.menu ul{
    list-style: none;
}
.menu ul li{
    text-align: center;
}
.menu ul li a{
    display: block;
}
.sensitive-search-result{
	padding-top: 10px;
}
#main{
    padding-top: 70px;    
    min-height: 500px;
}
#side-main{
    padding-top: 70px;
}
#side-main .tab-content{
    background-color: #ffffff;
    
    border-bottom: 1px solid #ddd; 
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px 0px;
    min-height: 300px;
}
#side-main .tab-content .tab-pane{
    padding: 10px;
}
#panel-user h5 i{
    opacity: 0.3;
    margin-right: 5px;
}
